body {
  font-family: "Segoe UI Symbol", "Noto Sans Symbols", "Arial Unicode MS", sans-serif;
}

#canvasX {
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
    width: 95vmin;
    height: 95vmin;
    max-width: 512px;
    max-height: 512px;
}

#app {
    border: 5px solid rgb(255, 0, 238);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}


.arrow {
  filter: invert(1);
  width: 24px;
  height: 24px;
}

.joystick {
    opacity: 0%;
}

.joystick.right {
  position: absolute;
  right: 0;
  height: 100%;
  width: 10%;
}

.joystick.left {
  position: absolute;
  left: 0;
  height: 100%;
  width: 10%;
}

.joystick.up {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10%;
}

.joystick.down {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
}

.joystick.disabled {
    display: none;
}


.joystick-display {
  position: absolute;
  pointer-events: none;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.1s, transform 0.1s;
}

.joystick-display.UP {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.joystick-display.DOWN {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.joystick-display.LEFT {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.joystick-display.RIGHT {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.joystick-display.enabled {
  color: rgba(255, 255, 255, 1);
}